body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    flex: 10;
}

header {
    flex: 0 80px;
    background-color: rgb(152, 117, 84);
}

main {
    flex: 10 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(102,66,41);
}

footer {
    flex: 0 30px;
    background-color: rgb(152, 117, 84);
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

.navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
    padding: 0 0.3em;
}

footer a {
    float: right;
}

#count {
    color: rgb(246, 239, 158);
}

.player-name {
    color: rgb(118, 190, 210);
}

.game {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex: 10;
}
.board {
    aspect-ratio: 1/1;
    margin: 20px;
    border: 10px solid #333;
    flex: 3;
}
.players {
    flex: 4;
    width: 100%;
    padding: 0.5em;
}
.black {
    display: flex;
    flex: 1;
    float: left;
    width: 12.5%;
    height: 12.5%;
    background-color: rgb(184,139,74);
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.white {
    display: flex;
    flex: 1;
    float: left;
    width: 12.5%;;
    height: 12.5%;;
    background-color: rgb(227,193,111);
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

.center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

tr {
    background-color: rgb(102,66,41)!important;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}